<section
    class="tw-relative tw-flex tw-min-h-[80vh] tw-w-full tw-max-w-[100vw] tw-flex-col tw-place-content-center tw-place-items-center tw-overflow-hidden tw-p-6"
>
    <div
        class="tw-mt-8 tw-flex tw-flex-col tw-place-items-center tw-gap-5"
    >
        <div
            class="reveal-up tw-mt-5 tw-flex tw-flex-col tw-gap-3 tw-text-center"
        >
            <h2
                class="tw-text-4xl tw-font-medium tw-text-gray-200 max-md:tw-text-2xl"
            >
                Powerful solution,<br> Seamless experience
            </h2>
        </div>
        <div
            class="tw-mt-6 tw-flex tw-max-w-[80%] tw-flex-wrap tw-place-content-center tw-gap-8 max-lg:tw-flex-col"
        >
            <div
                class="reveal-up tw-flex tw-h-[200px] tw-w-[450px] tw-gap-8 tw-rounded-xl tw-border-[1px] tw-border-outlineColor tw-bg-secondary tw-p-8 max-md:tw-w-[320px]"
            >
                <div class="tw-text-4xl max-md:tw-text-2xl">
                    <i class="bi bi-globe"></i>
                </div>

                <div class="tw-flex tw-flex-col tw-gap-4">
                    <h3 class="tw-text-2xl max-md:tw-text-xl">
                        Global
                    </h3>
                    <p class="tw-text-gray-300 max-md:tw-text-sm">
                        Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Animi quasi consequuntur,
                        distinctio
                    </p>
                </div>
            </div>

            <div
                class="reveal-up tw-flex tw-h-[200px] tw-w-[450px] tw-gap-8 tw-rounded-xl tw-border-[1px] tw-border-outlineColor tw-bg-secondary tw-p-8 max-md:tw-w-[320px]"
            >
                <div class="tw-text-4xl max-md:tw-text-2xl">
                    <i class="bi bi-bar-chart-fill"></i>
                </div>

                <div class="tw-flex tw-flex-col tw-gap-4">
                    <h3 class="tw-text-2xl max-md:tw-text-xl">
                        Insights
                    </h3>
                    <p class="tw-text-gray-300 max-md:tw-text-sm">
                        Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Animi quasi consequuntur,
                        distinctio laboriosam
                    </p>
                </div>
            </div>
            <div
                class="reveal-up tw-flex tw-h-[200px] tw-w-[450px] tw-gap-8 tw-rounded-xl tw-border-[1px] tw-border-[#FDB51B] tw-bg-secondary tw-p-8 max-md:tw-w-[320px]">
                <div class="tw-text-4xl max-md:tw-text-2xl tw-text-[#FDB51B]">
                    <i class="bi bi-globe"></i>
                </div>

                <div class="tw-flex tw-flex-col tw-gap-4">
                    <h3 class="tw-text-2xl max-md:tw-text-xl" style="font-family: var(--header-font);">
                        Global
                    </h3>
                    <p class="tw-text-gray-300 max-md:tw-text-sm">
                        Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Animi quasi consequuntur,
                        distinctio
                    </p>
                </div>
            </div>

            <div
                class="reveal-up tw-flex tw-h-[200px] tw-w-[450px] tw-gap-8 tw-rounded-xl tw-border-[1px] tw-border-outlineColor tw-bg-secondary tw-p-8 max-md:tw-w-[320px]"
            >
                <div class="tw-text-4xl max-md:tw-text-2xl">
                    <i class="bi bi-fingerprint"></i>
                </div>

                <div class="tw-flex tw-flex-col tw-gap-4">
                    <h3 class="tw-text-2xl max-md:tw-text-xl">
                        2 Factor Authentication
                    </h3>
                    <p class="tw-text-gray-300 max-md:tw-text-sm">
                        Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Animi quasi consequuntur,
                        distinctio laboriosam
                    </p>
                </div>
            </div>

            <div
                class="reveal-up tw-flex tw-h-[200px] tw-w-[450px] tw-gap-8 tw-rounded-xl tw-border-[1px] tw-border-outlineColor tw-bg-secondary tw-p-8 max-md:tw-w-[320px]"
            >
                <div class="tw-text-4xl max-md:tw-text-2xl">
                    <i class="bi bi-sliders"></i>
                </div>

                <div class="tw-flex tw-flex-col tw-gap-4">
                    <h3 class="tw-text-2xl max-md:tw-text-xl">
                        3rd party integrations
                    </h3>
                    <p class="tw-text-gray-300 max-md:tw-text-sm">
                        Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Animi quasi consequuntur,
                        distinctio laboriosam
                    </p>
                </div>
            </div>

            <div
                class="reveal-up tw-flex tw-h-[200px] tw-w-[450px] tw-gap-8 tw-rounded-xl tw-border-[1px] tw-border-outlineColor tw-bg-secondary tw-p-8 max-md:tw-w-[320px]"
            >
                <div class="tw-text-4xl max-md:tw-text-2xl">
                    <i class="bi bi-gear-fill"></i>
                </div>

                <div class="tw-flex tw-flex-col tw-gap-4">
                    <h3 class="tw-text-2xl max-md:tw-text-xl">
                        Advanced configurations
                    </h3>
                    <p class="tw-text-sm tw-text-gray-300">
                        Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Animi quasi consequuntur,
                        distinctio laboriosam
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>